@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Rubik:wght@400;500;600;700&family=Zen+Dots&display=swap');

.work__filters {
    display: flex;
    align-items: center;
    column-gap: 1.875rem;
    margin-bottom: 2.5rem;
    position: relative;
}

.work__item {
    cursor: pointer;
    font-weight: var(--font-bold);
    font-size: var(--h3-font-size);
    font-family: 'Nerko One';

}

.work__item:hover {
    color: var(--first-color);
    transition: 0.3s ease-in-out;

}

.works__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.875rem;

}

.work__card {
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);

}

.work__mask {
    position: absolute;
    background: #6c6ce5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    opacity: 0;
}

.work__card:hover .work__mask {
    opacity: 0.5;
}

.work__category {
    color: #fff;
    background: var(--first-color);
    position: absolute;
    border-bottom-left-radius: 0.98rem;
    border-bottom-right-radius: 0.98rem;
    left: 1.5rem;
    top: 0;
    display: inline-block;
    padding: 0.19rem 0.625rem;
    font-size: var(--small-font-size);
    transform: translateY(-40px);
    transition: 0.3s;


}

.work__title {
    color: #fff;
    font-size: var(--h3-font-size);
    margin: 0 0 0.9rem;
    padding: 0 1.25rem;
    position: absolute;
    top: 3.75rem;
    transform: translateY(30px);
    transition: 0.3s;
    opacity: 0;
}

.work__button {
    color: #fff;
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    width: 40px;
    height: 40px;
    font-size: var(--h3-font-size);
    display: block;
    background: #ffd15c;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    transition: 0.3s;
    opacity: 0;

}

.work__card:hover .work__button {
    opacity: 1;
}

.work__card:hover .work__title,
.work__card:hover .work__category {
    opacity: 1;
    transform: translateY(0);
}

@media screen and (max-width:600px) {
    .works__container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.875rem;

    }



}

@media screen and (max-width : 768px) {}