
.contact__side-container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.contact__icon-div{
    display: inline-flex;
    gap: 0.8rem;
    
}

.contact__icon{
    font-size: 2rem;
    color: var(--title-color);

}

.contact__icon-div:nth-child(4){
    font-size: 5rem;
    color: var(--title-color);

}
.contact__icon:hover{
    color: var(--first-color);
    transition: var(--transition);


}


.contact__form-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 1.875rem;
    column-gap: 0.5rem;
    

}

.contact__form-div {
    position: relative;
    height: 3.5rem;
    border-radius: var(--border-radius);
    padding: 2rem;
    background-color: var(--title-color);
    width: 100%;
    padding: 1rem;
    background: transparent;
    resize: none;
    margin-bottom: 1.875rem;
}


.conatct__form-input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: var(--shadow);
    background: var(--conatiner-color);
    color: var(--text-color);
    border: 1px solid var(--title-color);
    outline: none;
    border-radius: 1rem;
    padding: 0.685rem 1.875rem;
    z-index: 5;


}

.main__container{
    display: grid;
    grid-template-columns: 4fr 8fr;
    gap: 1.875rem;
}

.contact__title{
    font-size: var(--h1-font-size);
    color: var(--title-color);
    font-weight: var(--font-bold);
}

.contact__p{
    font-size: var(--h3-font-size);
    color: var(--title-color);
    font-weight: var(--font-semibold);

}

.contact__form-area textarea{
    resize: none;

}

.contact__form-area{
    height: 10.25rem;
    width: 100%;
}

@media screen and (max-width:600px) {
    .main__container{
        display: flex;
        flex-direction: column;
        gap: 1.875rem;
    }
    
    .contact__side-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }



}

@media screen and (max-width : 768px) {
    .service__container {
        display: flex;
        flex-direction: column;
    }


}

.contact__form{
    position: relative;
}

.error__message{
    position: absolute;
    padding: 10px;
    display: inline-block;
    right: 0;
    bottom: 2px;
    color: var(--first-color);
    border-radius: var(--border-radius);
    animation: errorslide 5s ;
}

.error-message{
    visibility: hidden;
    opacity: 0;
}