.resume__conatiner{
    display: flex;
    flex: 1;
    gap: 1.875rem;
}

.timeline{
    background: var(--conatiner-color);
    padding: 1.875rem;
    border-radius: var(--border-radius);
    position: relative;
    box-shadow: var(--shadow);
    border: 1px solid var(--title-color);

}

.timeline:first-child:hover{
    transform: translateX(-10%);
    transition: 0.2s ease-in-out;
}


.timeline:last-child:hover{
    transform: translateX(10%);
    transition: 0.2s ease-in-out;
}

.timeline__item{
    position: relative;
    padding-left: 3.125rem;
    padding-bottom: 3.125rem;
}

.timeline__item:last-child{
    padding-bottom: 0;
}

.timeline__item::before{
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background: var(--first-color);
    left: .25rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.timeline__icon{
    position: absolute;
    left: -0.4375rem;
    top: 0;
    background: var(--conatiner-color);
    font-size: var(--h2-font-size);
    color: var(--title-color);
    padding: 0.4375rem 0;

}

.timeline__date{
    color: #8b88b1;
    font-size: var(--small-font-size);
}

.timeline__title{
    font-size: var(--h3-font-size);
    margin: 0.5rem 0;
}