.testimonal__conatiner{
    max-width: 700px;
    margin:auto;



}

.testimonial__item{
    text-align: center;
    text-decoration: dashed;
    text-shadow: var(--shadow);
    padding: 0 1.25re, 1.25rem;
}

.thumb{
    height: 5.6rem;
    width: 5.6rem;
    margin: auto;
}

.testimonial__title{
    margin-top: 0.75rem;
}

.testiominal__subtitle{
    color: #8b88b1;
    font-size: var(--small-font-size);

}

.testimonial__comment{
    background: var(--container-color);
    padding:1.875rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    position: relative;

}

.testimonial__comment::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid var(--first-color);
    border-right: 10px solid var(--first-color);
    border-bottom: 10px solid var(--container-color);
    position: absolute;
    left: 49.5%;
    top: -0.625rem;
    transform: translateX(-7.5px);
}


.swiper-pagination-bullet{
    background:var(--first-color) !important;

}

.swiper-button-next,.swiper-button-prev{
    color:var(--title-color) !important
}

.thumb img{
    border-radius: 50%;
}


